body {
  display:flex;
  flex-direction: column;

  background-color: aquamarine;
}

.container {
  border:1px solid black;
  border-radius:15px;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}



header {
  position:fixed;
}